
/*  Flexible content custom CSS - title bold
---------------------------------------------------------------------*/
.acf-flexible-content .layout .acf-fc-layout-handle {
  font-style: bold;
  font-weight: 700;
  text-transform: uppercase;
}

.acf-input .acf-flexible-content .layout .acf-fc-layout-handle {
  background-color:#f2f2f2;
}

.acf-input .acf-flexible-content .layout .acf-fc-layout-order {
  background-color: #000;
  color:#FFF;
  font-weight: normal !important;
}

.acf-input .acf-flexible-content .layout .acf-fc-layout-controlls .acf-icon.-collapse {
  color:#000;
}

.acf-input .acf-flexible-content .layout .acf-fields .acf-input .acf-flexible-content .acf-fc-layout-handle {
  text-transform: none;
  background-color: #FFF;
  font-weight: normal;
  font-style: normal;
}

.acf-input .acf-flexible-content .layout .acf-fields .acf-input .acf-flexible-content .acf-fc-layout-order {
  background-color: #f1f1f1;
  color:#333;
}

/*  Buttons
---------------------------------------------------------------------*/
.values.ui-sortable .layout .acf-button {
  background-color: #333;
  box-shadow: 0 1px 0 #333;
  border-color: #333;
  color:#FFF;
}

.acf-flexible-content .values.ui-sortable .acf-fc-layout-controlls .acf-icon.-minus.small {
  position: absolute;
  right:56px;
  top:1px;
  background-color: #FF0000;
  color:#FFF;
  border:none;
  opacity: .5;
}

.acf-flexible-content .values.ui-sortable .acf-fc-layout-controlls .acf-icon.-minus.small:hover {
  opacity: 1;
}

/*  Choose layout
---------------------------------------------------------------------*/
.acf-field[data-name="choose_page_layout"] label{
  display: inline-block;
  position: relative;
}

.acf-field[data-name="choose_page_layout"] ul li {
  min-width:130px;
  min-height:150px;
}


/*  Layout box
---------------------------------------------------------------------*/
.acf-layout {
  height:80px;
  width:110px;
  display: inline-block;
  background-color: #dadada;
  border:2px solid #333;
  opacity: .2;
  position:absolute;
  top:30px;
  left:0;
  clear:both;
}

.selected .acf-layout {
  opacity: 1 !important;
}


/*  Section - Sidebar
---------------------------------------------------------------------*/
.acf-layout.layout-1 .border-one {
  display: block;
  height:80px;
  width:25px;
  border-left:2px solid #333;
  float:right;
}


/*  Section Multiple
---------------------------------------------------------------------*/
.acf-layout.layout-2 .border-one {
  display: block;
  position: relative;
  top:0;
  width:100%;
  border-bottom:2px solid #333;
}

.acf-layout.layout-2 .border-one:before {
  content:"";
  display: block;
  height:40px;
  width:40px;
  border-right:2px solid #333;
}

.acf-layout.layout-2 .border-one:after {
  content:"";
  display: block;
  width:25px;
  height:40px;
  border-left:2px solid #333;
  float:right;
  position: relative;
  top:0;
}
