
/* Extend
---------------------------------------------------------------*/
.animation-start {
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-direction: alternate;
}

.animation-end {
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fadeOut;
  animation-direction: alternate;
}


/* Home
---------------------------------------------------------------*/
.home,
.home-example {
  &.content-bounce {
    .page-content {
      animation-duration: 4s;
      animation-fill-mode: both;
      animation-name: bounce;
      animation-delay: 2.2s;
    }
  }
}

@keyframes bounce {
   0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
   50% {transform: translateY(-160px);}
}

.loading {
  .page-header .container,
  #main-header,
  .main-content .page-wrapper {
    opacity: 0;
  }
}


/*  Reload
------------------------------------------------------------------------*/
.page-transition {
  animation-duration: 0.9s;
  animation-delay: 0.4s;
  @extend .animation-end;

  .nav-primary,
  .site-logo,
  .page-header .vcenter-outer {
    @extend .animation-end;
    animation-duration: 0.4s;
    animation-delay: 0s;
  }
}


/*  Animations
------------------------------------------------------------------------*/
.animations-init {

  //1st
  #main-header {
    @extend .animation-start;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
  }

  //2nd
  .page-header {
    .container {
      @extend .animation-start;
      animation-duration: 1.4s;
      animation-delay: 0.8s;
    }
  }

  //3rd
  .main-content {
    .page-wrapper {
      @extend .animation-start;
      animation-duration: 0.8s;
      animation-delay: 1.6s;
    }
  }
}


/*  Fade in
------------------------------------------------------------------------*/
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
