
/*  Image
-------------------------------------------------*/
body {
  &.patek-philippe {
    .embed-microsite {
      iframe {
        max-width: 100% !important;
      }
    }
  }
}


.brand-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  filter: brightness(0) invert(1);
}

.brand-svg {
    margin-bottom: 2rem;
    text-align: center;
}

.brand-svg svg {
    display: inline-block;
}

.brand-svg svg,
.brand-svg svg ellipse,
.brand-svg svg line,
.brand-svg svg path,
.brand-svg svg polygon,
.brand-svg svg polyline,
.brand-svg svg rect {
    fill: #fff;
    color: #fff;
    border-color: #fff
}

/*  Brand
-------------------------------------------------*/
.brand-template-default {
  .page-header {

    &.alpha {}

    &.microsite {
      height:280px;
      background-color:#000;

      .brand-img {
        margin-bottom:0;
        display:none;
      }
    }

    .page-title {
      display:none;
    }

    .desc {
      margin-bottom:2rem;

      p {
        font-size:26px;
      }
    }
  }
}

.embed-microsite {
  padding:6rem 0;
  img,
  iframe {
    margin-left: auto!important;
    margin-right: auto!important;
    display:block;
  }
}


/*  Gallery
-------------------------------------------------*/
.gallery-1 {
  width:100%;
}

.gallery-2,
.gallery-3 {
  width: 50%;
  float: left;
}


/*  Post nav
-------------------------------------------------*/
#post-nav {
  .item {
    width:33.333%;
    height:130px;
    padding:3rem 0;

    h4 {
      margin:0;
    }
  }
}


@media (max-height:900px) {

  .brand-template-default {
    .page-header {
      &.alpha {
        height:100vh;
      }
    }
  }

}



@media (max-width:991px) {
    .brand-template-default .page-header .desc p {
        font-size: 24px
    }
    .brand-template-default .page-header.microsite {
        height: 200px
    }
    #post-nav .item {
        height: 80px;
        padding: 2rem 0
    }
    #post-nav .all {
        font-size: 13px
    }
    #post-nav h4 {
        font-size: 14px
    }
    .embed-microsite {
        padding: 2rem 0
    }
    .embed-microsite img {
        max-width: 100%;
        height: auto
    }
}

@media (max-width:767px) {
    .brand-template-default .page-header.mobile-microsite {
        height: 100vh
    }
}

@media (max-width:543px) {
    .brand-template-default .page-header .desc {
        margin-bottom: .5rem
    }
    .brand-template-default .page-header .desc p {
        font-size: 15px;
        line-height: 1.4
    }
    .brand-template-default .page-header.microsite {
        height: 160px
    }
    .brand-template-default .page-header .secondary {
        font-size: 12px
    }
    .brand-img {
        margin-bottom: .5rem;
        max-width: 60%
    }
    #post-nav .item {
        height: 80px;
        padding: 2rem 0 0;
        width: 42%
    }
    #post-nav .all {
        font-size: 10px;
        letter-spacing: 0;
        width: 14%
    }
    #post-nav .all span {
        display: none
    }
    #post-nav h4 {
        letter-spacing: 0;
        font-size: 12px
    }
}

@media (max-height:799px) and (min-width:1079px) {
    .brand-template-default.desktop .page-header .col-lg-2,
    .brand-template-default.desktop .page-header .col-lg-8 {
        width: 100%
    }
    .brand-template-default.desktop .page-header .desc {
        margin-bottom: 1rem
    }
    .brand-template-default.desktop .page-header .desc p {
        font-size: 22px
    }
}
