
/*  Item
------------------------------------------------------*/
.brands-item {
  width:33.3333%;
  float:left;
  @extend .clearfix;

  .item {
    border:1px solid $body-bg;
    background-color:#fbfbfb;
    height:360px;
    display:block;
    text-align:center;

    @include transition(600ms);

    img,
    svg {
      display:inline-block;
      max-width:100%;
      width: auto!important;
      height: auto!important;
      @include transition(400ms);
    }

    &:hover,
    &:focus {
      background-color:$hover;

      img {
        filter: grayscale(100%) invert(100%);
      }

      svg {
        ellipse,
        line,
        path,
        polygon,
        polyline,
        rect {
          fill: #fff;
          color: #fff;
          border-color: #fff;
        }
      }
    }
  }

  .item {
    &.rolex {
      &:hover,
      &:focus {
        img {
          filter: none;
        }

        svg {
          ellipse,
          line,
          path,
          polygon,
          polyline,
          rect {
            fill: #767676;
            color: #767676;
            border-color: #767676;
          }
        }
      }
    }
  }
}

@media (max-width:1199px) {
    .brands-item .item {
        height: 280px;
    }
}

@media (max-width:991px) {
    .brands-item .item {
        height: 230px;
    }
    .brands-item .item img,
    .brands-item .item svg {
        max-width: 60%;
    }
}

@media (max-width:767px) {
    .brands-item {
        width: 50%;
    }
    .brands-item .item {
        height: 220px;
    }
    .brands-item .item img,
    .brands-item .item svg {
        max-width: 80%;
    }
}

@media (max-width:543px) {
    .brands-item {
        width: 100%;
    }
    .brands-item .item img,
    .brands-item .item svg {
        max-width: 80%;
    }
}
