// Footer styles
#main-footer {
  background-color:$white;
  text-align:center;
  border-top:1px solid $body-bg;

  .footer-info {
    padding:6rem 0 2.5rem;
  }

  .address {
    margin-bottom:6rem;

    p {
      margin:0;

      a {
        text-decoration:underline;

        &:hover {
          text-decoration:none;
        }
      }
    }
  }

  .footer-nav {
    margin-bottom:5rem;
    a {
      font-size:16px;
      margin:0 1rem;
      @extend .letter-spacing;
    }
  }

  .copyrights {

    p {
      margin:0;
      line-height:1.1;
      @extend .letter-spacing;
    }

    a {
      font-family:$font-family-sans-serif;
      font-size:12px;
    }
  }
}


@media (max-width:991px) {
  #main-footer .address {
      margin-bottom: 3rem;
  }
  #main-footer .footer-info {
      padding: 4rem 0 1.5rem;
  }
  #main-footer .footer-nav {
      margin-bottom: 3rem;
  }
  #main-footer .footer-nav a {
      font-size: 13px;
      letter-spacing: 1px;
  }
}

@media (max-width:543px) {
  #main-footer .footer-nav ul {
      clear: none;
      left: auto;
      float: none;
  }
  #main-footer .footer-nav ul li {
      float: none;
      right: auto;
  }
}
