/*  FX Gallery
------------------------------------------------------*/
.fx-gallery,
 .absolute-arrows {
  overflow: hidden;
  position: relative;
}

.absolute-arrows {
  .arrow {
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    min-height: 100%;
    z-index: 1;
    background-color:transparent;

    &.prev { left: 0; }
    &.next { right: 0; }
  }
}
