.toggle-menu-item {
	display: none;
}

/*  HEADER
------------------------------------------------------*/
#main-header {
	position:fixed;
	top:0;
	left: 0;
	right: auto;
	bottom: auto;
	z-index: 998;
	width: 100%;
	height:120px;
	background-color: hsla(251, 0%, 98%,0);

	@include transition(400ms);

	.container {
		position:relative;
	}

	.css-loader {
		position:relative;
		z-index:-1;
		opacity:0;
		margin-top:10px;
		border-top: .4em solid hsla(0, 0%, 98%, .4);
	  border-right: .4em solid hsla(0, 0%, 98%, .4);
	  border-bottom: .4em solid hsla(0, 0%, 98%, .4);
	  border-left: .4em solid #FFF;
	}

	&.loader {
		.css-loader {
			z-index:1;
			opacity:1;
		}

		.site-logo {
			opacity:0 !important;
		}
	}
}


/*  Site logo
------------------------------------------------------*/
.site-logo {
  position: absolute;
	left: 50%;
  bottom: -10px;
	right: auto;
  top: auto;
	margin-left: -120px;
  width: 245px;
  opacity:1;
  display:block;
	z-index:2;
	@include transition(400ms);

  img,
  svg {
    max-width: 100%;
    height: auto;
    display: block;
  }


  &.black {
    opacity:0;
  }
}

.logo-icon {
	position:relative;
	width: 34px;
	top: 54px;
	bottom: auto;
	left: auto;
	bottom: auto;
	margin: 0 auto;
}


/*  Nav
------------------------------------------------------*/
#main-navigation {
	position: absolute;
	bottom: 7px;
	left:0;
	right:auto;
	top:auto;
	width:100%;
	padding: 0 4rem;

	ul {
		li {
			a {
				color: $link-color;
				font-weight: 400;
				font-size: 17px;
				font-family: $font-family-sans-serif;
				position: relative;
				top:0;
				outline: none;
				display: inline-block;
				padding-bottom: 1px;
				@extend .letter-spacing;

				@include transition(300ms);

				&:after {
					content: "";
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 2px;
					opacity: 0;
					background-color: #FFF;
					transition: opacity 0.3s, transform 0.3s;
					transform: translateY(10px);
				}

				&:hover::after,
				&:focus::after {
					opacity: 1;
					transform: translateY(0px);
				}

				&:hover {
					opacity: 1;
					color: #FFF;
				}
			}

			&.current-menu-item {
				a::after {
					opacity: 1;
					transform: translateY(0px);
				}
			}

			&:first-child,
			&:nth-child(2){
				float: left;
				margin-right: 4rem;

				@include media-breakpoint-up(lg) {
					margin-right: 6rem;
				}

				@include media-breakpoint-down(md) {
					margin-right: 2.5rem;
				}
			}

			&:nth-child(3),
			&:nth-child(4){
				float: right;
				margin-left: 4rem;

				@include media-breakpoint-up(lg) {
					margin-left: 6rem;
				}

				@include media-breakpoint-down(md) {
					margin-left: 2.5rem;
				}
			}
		}
	}
}

#main-navigation ul li.active a:focus:after,
#main-navigation ul li.active a:hover:after {
    opacity: 1;
    transform: translateY(0);
}


/*  Color
------------------------------------------------------*/
#main-header {
	&.scrolling {
		height:70px;
		background-color:rgba(251,251,251,0.9);

		.site-logo {
			bottom:17px;
			width:180px;
			margin-left:-90px;

			&.white { opacity:0; }
			&.black { opacity:1; }
			.logo-icon { opacity:0; }

		}

		#main-navigation {
			bottom:15px;

			ul {
				a {
					color:#000;

					&:after {
						background-color:#000;
					}
				}
			}
		}
	}
}


/*  Hamburger
------------------------------------------------------*/
#hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 12px;
    left: auto;
    z-index: 9999;
    width: 30px;
		padding: 5px;
}

#hamburger,
#hamburger span {
    bottom: auto;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

#hamburger span {
    display: block;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    margin: 5px 0;
    position: relative;
    top: 0;
    left: 0;
    right: auto;
}


#main-header.scrolling #hamburger {
    top: 18px;
}

#main-header.scrolling #hamburger span {
    background-color: #000;
}

#main-header.scrolling .css-loader {
    border-top: .4em solid rgba(0, 0, 0, .4);
    border-right: .4em solid rgba(0, 0, 0, .4);
    border-bottom: .4em solid rgba(0, 0, 0, .4);
    border-left: .4em solid #000;
}


@media (max-width:991px) {
    .site-logo {
        width: 140px;
        margin-left: -70px;
        bottom: 12px;
    }
    .site-logo .logo-icon {
        width: 25px;
        top: 28px;
    }

    .nav-primary ul li a {
        font-size: 13px;
        letter-spacing: 1px;
    }
    #main-header {
        height: 92px;
    }
    #main-header.scrolling {
        height: 70px;
    }
    #main-header.scrolling .site-logo {
        width: 140px;
        margin-left: -70px;
    }
}

#hamburger {
		display: none;
}


@media (max-width:1200px) {
	/*  Color
	------------------------------------------------------*/
	#main-header {
		&.scrolling {
			height:60px;
		}
	}

	#main-header {
		.nav-primary {
			display: none;
		}
	}

	#hamburger {
		display: block;
	}
}
