
/*  HOME SLIDESHOW
------------------------------------------------------*/
#home-slideshow {
	overflow: hidden;

	.slide-item {
		overflow: hidden;
		position: relative;

		.slide-img {
			height: 100%;
			min-height: 100%;
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			display: block;
			z-index: 1;
      animation: scaleImg 12s linear 0.8s infinite alternate;
		}

    .wrap-head {
      position: relative;
      z-index:2;
    }
	}
}

@keyframes scaleImg {
	0% {
		-webkit-transform: scale(1);
	}

	100% {
		-webkit-transform: scale(1.1);
	}
}
