/*  Wrapper
------------------------------------------------------*/
.map-wrapper {
  @extend .container;
  background-color:$white;
}

/*  Map
------------------------------------------------------*/
#map {
  height:0;
  overflow:hidden;
  width:100%;
  position:relative;

  p {
    font-size:20px;
  }

  .marker {
    opacity:0;
  }
}

.contact-us {
  #map {
    height:480px;
  }
}


@media (max-width:991px) {
    .contact-us #map {
        height: 300px;
    }
}
