/*  Wrapper
------------------------------------------------------*/
#mobile-nav-container {
  @extend .fullscreen;
  @include transition(400ms);
  background-color:rgba(0,0,0,0.9);
  z-index:99999;

  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
  overflow: auto;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.4s;

  &.active {
    transform: translateY(0);
  }
}



/*  Menu links
------------------------------------------------------*/
#mobile-menu {
  margin-bottom: 1rem;
  ul {
    width:240px;
    margin:0 auto;
    display:block;
    position:relative;

    &:hover {
      li {
        a {
          //opacity:0.2;
        }
      }
    }

    li {
      display:block;
      text-align:center;
      margin-bottom: .1rem;
      position: relative;

      &:last-child {
        margin-bottom:0.4rem;
      }

      a {
        position: relative;
        color:$white;
        font-family:$font-family-serif;
        font-size:25px;
        display:block;
        opacity:1;
        @include transition(400ms);

        &:hover {
          opacity: .9 !important;
        }
      }
    }
  }
}



/*  Children toggle
------------------------------------------------------*/
#mobile-menu {
  .toggle {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 60px;
    height: 35px;
    display: block;
    cursor: pointer;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    z-index: 5;

    &::after {
      content: "+";
      display: inline-block;
      position: relative;
    }

    &.active {
      &::after {
        content: "-";
      }
    }
  }
}


/*  Children
------------------------------------------------------*/
#mobile-menu {
  .sub-menu {
    display: none;
    padding: 10px;

    a {
      padding: 0;
      font-size: 17px;
      letter-spacing: 2px;
      font-weight: 500;
      font-family: $font-family-sans-serif;
    }
  }
}


.mobile-logo {
    width: 176px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem;
}

.mobile-logo img {
    max-width: 100%;
    height: auto;
}

.mobile-address {
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(#FFF,.5);
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.mobile-address p {
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
}


/* Close nav
------------------------------------------------------*/
#close-nav {
  display:block;
  width:22px;
  height:22px;
  position:absolute;
  right:24px;
  top:14px;
  background-image:url('../images/icon-close.svg');
  z-index:2;

  @extend .bg-contain;

  @include transition(800ms);
  @include rotate(0deg);

  &:hover {
  	@include rotate(90deg);
    opacity:0.9;
  }
}
