
/*  Posts wrapper
------------------------------------------------------*/
.posts-wrapper {
  padding:4rem 2rem;
  text-align:justify;

  .post {
    margin:0 2rem 4rem;
    display:inline-block;
    position:relative;
    width:27%;
    transition: all .6s ease;

    &::after {
      content:"";
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:100%;
      background-color:$hover;
      opacity:0;
      z-index:1;
      transition: all .6s ease;
    }

    img {
      max-width:100%;
      heigth:auto;
      display:inline-block;
    }

    header {
      position:absolute;
      width:100%;
      left:0;
      top:33%;
      text-align:center;
      opacity:0;
      z-index:2;
      color:#FFF;
      padding:0 1rem;
      @include transition(600ms);

      time {
        font-size:12px;
        font-weight:300;
      }
    }

    .entry-title {
      font-size:22px;
      letter-spacing:1px;
      margin-bottom:0.4rem;
    }

    .read-more {
      position:absolute;
      width:100%;
      bottom:10%;
      left:0;
      text-align:center;
      z-index:2;
      opacity:0;
      color:#FFF;
      font-weight:300;
      @extend .letter-spacing;
      @include transition(600ms);
    }

    &.active,
    &:hover {
      &:after,
      header,
      .read-more {
        opacity:1;
      }
    }
  }
}


/*  Pagination
------------------------------------------------------*/
.nav-previous {
  width:100%;
  padding:0 0 4rem;
  text-align:center;

  a {
    position:relative;
    @extend .btn;
  }

  .css-loader {
    opacity:0;
    position:absolute;
    right: 28px;
    left: auto;
    top: 12px;
    font-size: 6px;
  }
}

#paging {
  &.active {
    .css-loader { opacity:1; }
    a { background-color:#000; }
  }
}


/*  Single
------------------------------------------------------*/
.single-post {
  .page-header {
    height:280px;
    background-color:#000;

    h1 {
      display:none;
    }
  }

  #append-post {
    height:100%;
  }
}


/*  Append post
------------------------------------------------------*/
#append-post {
  height:0;
  min-height: 0;
  max-height: 0;
  overflow:hidden;
  transition: all 1.8s linear;

  &.animate-post {
    height: 100%;
    min-height: 0;
    max-height: 6000px;
  }

  img {
    max-width:100%;
    height:auto;
    display:block;
  }

  .append-post {
    background-color:#f2f2f2;
    padding:4rem;
  }

  header {
    text-align:center;
    margin-bottom:4rem;
  }

  .img-wrap {
    padding-right:$post_padding;
    margin-bottom:2rem;
  }

  .post-wrapper {
    padding-left: $post_padding;
  }

  .entry-content {
    padding-top: 2rem;
    margin-bottom: 3rem;
  }
}


/*  Home slideshow
----------------------------------------*/
#post-slideshow {
  position:relative;

  img { width:100%; }

  .slick-dots {
    clear:left;
    float:left;
    position:absolute;
    bottom:20px;
    left:50%;
    text-align:center;
    list-style:none;
    margin:0;
    padding:0;
    z-index: 2;

    li {
      display:block;
      float:left;
      position:relative;
      right:50%;

      .dot {
        width:12px;
        height:12px;
        background-color:#FFF;
        border-radius:50%;
        display:inline-block;
        opacity: 0.5;
        transition: opacity 800ms ease;
        margin:0 4px;
        cursor:pointer;
      }

      &:hover,
      &.slick-active {
        .dot {
          opacity:1;
        }
      }
    }
  }
}


@media (max-width:1199px) {
    .posts-wrapper .post {
        width: 25.6%
    }
}

@media (max-width:991px) {
    .posts-wrapper {
        padding: 4rem 1rem
    }
    .posts-wrapper .post {
        margin: 0 1rem 2rem;
        width: 40%
    }
    .posts-wrapper .post .entry-title {
        font-size: 15px
    }
    .posts-wrapper .post .read-more {
        font-size: 12px
    }
    #append-post header {
        margin-bottom: 2rem
    }
    #append-post .entry-title {
        font-size: 26px
    }
    #append-post .append-post {
        padding: 3rem 2rem
    }
    #append-post .img-wrap {
        padding-right: 0;
        margin-bottom: 0
    }
    #append-post .post-wrapper {
        padding-left: 0
    }
    .single-post .page-header {
        height: 200px
    }
}

@media (max-width:543px) {
    .posts-wrapper {
        padding-top: 2rem
    }
    .posts-wrapper .post {
        width: 89%
    }
}
