
/*  Page header
------------------------------------------*/
.page-header {
  height: 84vh;
  text-align:center;
  position:relative;

  .page-title {
    color:$white;
    text-transform:uppercase;
    font-size:52px;
    line-height:1.2;
    margin-bottom:4rem;
    letter-spacing:3px;
  }

  .desc {
    p {
      color:$white;
      margin:0;
    }
  }

  .secondary {
    p {
      font-family:$font-family-sans-serif;
      font-size:16px;
      font-weight:300;
      margin:0;
      @extend .letter-spacing;
    }
  }

  .wrap-desc {
    position:absolute;
    bottom:100px;
    width:100%;
    left:0;
    right:0;
  }
}

.singular-header {
  &.page-header {
    height: 280px;
    background-color: #000;
  }
}


/*  Fixed heights
------------------------------------------*/
.slideshow-hero {
  .page-header {
    height:100vh;

    .page-title {
      margin-bottom:4rem;
    }
  }
}

.our-brands,
.blog {
  .page-header {
    height:530px;
  }
}

.about-us,
.contact-us {
  .page-header {
    height:600px;
  }
}

.about-us {
  .page-header {
    .page-title {
      font-size:74px;
      line-height:1.1;
      margin-bottom:2rem;
    }
  }
}



@media (max-width:1199px) {
    .page-header .page-title {
        font-size: 48px;
    }
}

@media (max-width:1199px) {
    .about-us .page-header .page-title {
        font-size: 62px;
    }
}

@media (max-width:991px) {
    .page-header .page-title {
        font-size: 36px;
    }
    .page-header .wrap-desc {
        bottom: 80px;
    }
    .about-us .page-header {
        height: 500px;
    }
    .about-us .page-header .page-title {
        font-size: 48px;
    }
    .contact-us .page-header {
        height: 470px;
    }
    .blog .page-header,
    .our-brands .page-header {
        height: 430px;
    }

    .page-header.black-header {
      height: 200px;
    }
}

@media (max-width:543px) {
    .page-header .page-title {
        font-size: 26px;
        margin-bottom: 2rem;
    }
    .page-header .wrap-desc {
        bottom: 50px;
    }
    .about-us .page-header {
        height: 440px;
    }
    .about-us .page-header .page-title {
        font-size: 38px;
    }
    .contact-us .page-header {
        height: 420px;
    }
    .blog .page-header,
    .our-brands .page-header {
        height: 380px;
    }
    .page-header .secondary p {
        font-size: 14px;
    }

    .singular-header {
      &.page-header {
        height: 200px;
        background-color: #000;
      }
    }
}

@media (max-height:799px) and (min-width:1079px) {
    .desktop .page-header .page-title {
        margin-bottom: 3rem;
    }
    .desktop .page-header .desc p {
        font-size: 24px;
    }
}
