/*  Text Editor
------------------------------------------------------*/
.text-editor {
  @extend .top-bottom-grid;
  text-align: center;

  pre {
    margin: 0;
    font-family: $font-family-sans-serif;
    @extend .letter-spacing-1;
    font-size: 100%;
  }
}


/*  FX fullscreen image
------------------------------------------------------*/
.fullscreen-image {
  overflow: hidden;

  img {
    @include transition(12s);
    @include scale(1);
    max-width: 100%;
    height: auto;
    display: block;
  }

  &:hover {
    img {
      @include scale(1.1);
    }
  }
}


/*  FX call to action links
------------------------------------------------------*/
.call-to-action {
  @extend .clearfix;
  border-top:1px solid $border;

  .item {
    display:block;
    float:left;
    text-align:center;
    width:50%;
    background-color:#fafbfb;
    padding:6rem 0;
    @extend .letter-spacing;
    @include transition(600ms);

    h2 {
      font-size:24px;
      margin: 0;
      line-height: 1.1;
    }

    &:hover {
      color: #FFF;
      background-color: $hover;
    }
  }
}


/*  FX text two columns
------------------------------------------------------*/
.text-editor-wrap {
  @extend .top-bottom-grid;
  @extend .left-right-grid;
}


.contact-us {
  .text-editor-two {
    .item {
      padding-top:40px;
    }
  }
}


@media (max-width:991px) {
    .call-to-action .item {
        padding: 3rem 0;
    }
    .call-to-action .item h2 {
        font-size: 19px;
    }
}

@media (max-width:543px) {
    .call-to-action .item {
        height: 130px;
    }
    .call-to-action .item h2 {
        font-size: 18px;
    }
}
