.entry-content {
  p {
    font-family:$font-family-sans-serif;
    font-size:16px;
    letter-spacing:0;

    b,
    strong {
      font-weight:600;
    }
  }

  ul,
  ol {
    padding:1rem 0 0 1.5rem;
    margin-bottom:3rem;

    li {
      font-family:$font-family-sans-serif;
      font-size:15px;
      letter-spacing:0;
      margin-bottom:4px;
      color:$text-color;
    }
  }

  ul {
    li {
      list-style:disc;
    }
  }

  h2,h3,h4,h5 {
    margin-bottom:1rem;
  }
}
