
/*  Preloader
------------------------------------------------------*/
#preloader {
  background-color:rgba($white,1);
  display:block;
  z-index:999;
  @extend .fullscreen;

  .clock-wrap {
    display:block;
    position:relative;
    width:180px;
    height:180px;
    margin:0 auto;
    @extend .bg-contain;
    /*background-image:url('../images/loader.svg');*/
  }
}

.animations-init {
  #preloader {
    z-index:-2;
  }
}


.preloader-logo {
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    display: none;
}

.preloader-logo img {
    max-width: 100%;
    height: auto;
}

.preloader-address {
    padding-top: 4rem;
    text-align: center;
    display: none;
}

.preloader-address p {
    color: #000;
}

/*  Elements
------------------------------------------------------*/
#preloader {

  span {
    position:absolute;
    display:block;
  }

  .circle,
  .square {
    background-color:#000;
  }

  .circle {
    animation: preloaderClock 1.1s infinite ease-in-out both;
  }

  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 11px 0;
    border-color: #000 transparent transparent;
  }

  .circle {
    width:13px;
    height:13px;
    border-radius:50%;
  }

  .square-1,
  .square-3 {
    width:26px;
    height:7px;
  }

  .square-2 {
    height:25px;
    width:7px;
    margin-left:-2px;
  }
}


/*  Squares triangle
---------------------------------------------------*/
#preloader {
  .square-1,
  .square-3 { top: 86px; }

  .square-1 { right: 0; }
  .square-2 { bottom:3px; left:50%; }
  .square-3 { left: 0; }

  .triangle {
    left:50%;
    top:3px;
    margin-left:-11px;
  }
}


/*  Positioning elements
---------------------------------------------------*/
#preloader {
  .circle-1,
  .circle-8 {
    top:10%;
  }

  .circle-2,
  .circle-7 {
    top:25%;
  }

  .circle-1,
  .circle-4 { right:24%; }

  .circle-5,
  .circle-8 { left:25%; }

  .circle-2,
  .circle-3 { right:9%; }

  .circle-7,
  .circle-6 { left:9%; }

  .circle-6,
  .circle-3 { bottom:26%; }

  .circle-4,
  .circle-5 {
    bottom:10%;
  }

}

/*  Animation delay
---------------------------------------------------*/
#preloader {
  .circle-2 { animation-delay: -1.1s; }
  .square-1 { animation-delay: -0.9s; }
  .circle-3 { animation-delay: -0.8s; }
  .circle-4 { animation-delay: -0.7s; }
  .square-2 { animation-delay: -0.6s; }
  .circle-5 { animation-delay: -0.5s; }
  .circle-6 { animation-delay: -0.4s; }
  .square-3 { animation-delay: -0.3s; }
  .circle-7 { animation-delay: -0.2s; }
  .circle-8 { animation-delay: -0.1s; }
}


@keyframes preloaderClock {
  0%, 80%, 100% {
    opacity:1;
  } 40% {
    opacity:0.1;
  }
}


@media (max-width:543px){
  #preloader .clock-wrap {
    width: 150px;
    height: 150px;
  }

  #preloader .square-1,
  #preloader .square-3 {
    top: 70px;
  }
}

@media (max-width:767px) {
    .preloader-address,
    .preloader-logo {
      display: block;
    }
  }
