
.rolex-retailer-clock {
  width: 150px;
  height: 70px;
  opacity: 0;
  transition: all 380ms ease;
  z-index: 9999;
  //background-color: #ff0000;
}


.patek-brand-logo {
  width: 150px;
  height: 88px;
  opacity: 0;
  transition: all 380ms ease;
  z-index: 9999;
  background-image: url('../images/patek-logo.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #FFF;
  background-size: contain;
  display: block;

  &.fixed-pos {
    position: fixed;
    left: auto;
    bottom: auto;
    right: 0;
    top: 64px;
    display: none;

    @include media-breakpoint-down(lg) {
      display: none !important;
    }
  }
}

#mobile-nav-container {
  .patek-brand-logo {
    margin: 10px auto;
  }
}


body {
  &.clock-loaded {
    .patek-brand-logo,
    .rolex-retailer-clock {
      opacity: 1;
    }
  }
}

//Mobile
#mobile-rolex-clock {
  &.rolex-retailer-clock {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
  }
}

//header
#header-rolex-clock {
  &.rolex-retailer-clock {
    position: fixed;
    left: auto;
    bottom: auto;
    right: 15px;
    top: 64px;

    @include media-breakpoint-down(lg) {
      display: none !important;
    }

    @include media-breakpoint-down(md) {
      right: 10px;
    }
  }
}

body {
  &.scrolling {
    #header-rolex-clock {
      &.rolex-retailer-clock {
        top: 0;
        right: 0;
      }
    }

    .patek-brand-logo {
      &.fixed-pos {
        top: 0;
      }
    }
  }
}


body {
	&.home,
	&.about-us,
	&.contact-us {
    .patek-brand-logo {
      &.fixed-pos {
        display: block;
      }
    }

    //header
    #header-rolex-clock {
      &.rolex-retailer-clock {
        right: 150px;
      }
    }
  }
}

body {
	&.home,
	&.about-us,
	&.contact-us {
    &.scrolling {
      #header-rolex-clock {
        &.rolex-retailer-clock {
          top: 0;
          right: 150px;
        }
      }
    }
  }
}
