
/*  HOME SLIDESHOW
------------------------------------------------------*/
#rolex-slideshow {
	overflow: hidden;
  background-color: #000;

  .arrow {
    z-index: 10;
    width: 40%;
    top: 150px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .rolex-container {
    position: relative;
		padding-left: 4rem;
		padding-right: 4rem;
		cursor: pointer;

		@include media-breakpoint-down(md) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

		@include media-breakpoint-down(sm) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

	.slide-item {
    padding-top: 140px;
		padding-bottom: 80px;
    background-color: transparent;
		overflow: hidden;
		position: relative;
		height: 100% !important;

		@include media-breakpoint-up(lg) {
      padding-top: 180px;
			padding-bottom: 160px;
    }

		&.rolex-no {
			.page-title {
				@include media-breakpoint-down(sm) {
					margin-bottom: 8px;
				}

				@include media-breakpoint-down(xs) {
					font-size: 22px;
					line-height: 1.1;
				}
			}
		}

		&.rolex-yes {
			.button {
				background-color: #127749;
				border: none;
				text-transform: uppercase;
				font-size: 12px;
				padding: 1rem 1.8rem;
				height: auto;
			}

			.page-title {
	      font-size: 26px;
	      color: #000;
	      font-family: "Helvetica", "Roboto";
	      text-transform: uppercase;
				margin-bottom: 14px;
				font-weight: 300;
	      @extend .letter-spacing;

				@include media-breakpoint-up(lg) {
		      font-size: 32px;
		    }

				@include media-breakpoint-down(sm) {
		      font-size: 24px;
					margin-bottom: 10px;
		    }
	    }

			.wrap-desc {
	      width: 50%;
				display: none;
				@include media-breakpoint-up(sm) {
					display: block;
				}
			}
		}

		.image-desktop {
			@include media-breakpoint-down(xs) {
				display: none;
			}
		}

		.image-mobile {
			display: none;

			@include media-breakpoint-down(xs) {
				display: block;
			}
		}

		.wrap-desc {
			height: 100%;
			min-height: 100%;
			z-index: 1;
      width: 100%;
      position: absolute;
      right: 0;
      left: auto;
      text-align: center;
      top: 0;
		}
	}
}

#rolex-slideshow {
	.slide-item {
		&.rolex-yes {
			.rolex-slide-desc {
				&.wrap-mobile-desc {
					background-color: #FFF;
					padding: 32px 15px 34px;
					@include media-breakpoint-up(sm) {
						display: none;
					}
				}
			}
		}
	}
}




#rolex-slideshow {
	.slick-dots {
	  position: absolute;
	  bottom: 40px;
	  width: 100%;
	  padding: 0;
	  margin: 0;
	  list-style-type: none;
	  text-align: center;

		@include media-breakpoint-up(lg) {
			bottom: 100px;
		}

	  span,
		a,
		button {
	    text-indent: -9999px;
	    height: 14px;
	    width: 14px;
	    display: inline-block;
	    margin: 2px;
	    border: 2px solid #FFF;
	    border-radius: 50%;
	    background-color: transparent;
	    position: relative;
			cursor: pointer;

	    &::after {
	      content: "";
	      position: absolute;
	      top: 50%;
	      left: 50%;
	      margin: -6px 0 0 -6px;
	      transition: all 0.5s ease-in-out;
	      height: 12px;
	      width: 12px;
	      transform: scale(0);
	      display: block;
	      border-radius: 50%;
	      background-color: #FFF;
	      opacity: 0;
	    }

	    &:hover,
	    &:focus,
	    &:active {
	      outline: none;

	      &::after {
	        transform: scale(1);
	        opacity: 1;
	      }
	    }
	  }

	  li {
	    list-style-type: none;
	    display: inline;

	    &.slick-active {
				span,
				a,
	      button {
	        &::after {
	          transform: scale(1);
	          opacity: 1;
	        }
	      }
	    }
	  }
	}
}


#rolex-slideshow {
	.slide-item {
		.btn {
			background-color: #000;
			color: #FFF;
		}

    @include media-breakpoint-up(lg) {
      .btn {
        padding: 1rem 1.5rem;
      }
    }

    @include media-breakpoint-down(md) {
      .btn {
        padding: .5rem 1rem;
        font-size: 12px;
        height: auto;
      }
    }
  }
}
