
/*  Rolex Nav
------------------------------------------------------*/
#rolex-navigation {
	position: absolute;
	bottom: 0;
	left:0;
	right:auto;
	top:auto;
	width:100%;
	padding: 0 200px 0 4rem;

	@include media-breakpoint-down(lg) {
		padding: 0 4rem;
	}

	ul {
		li {
			a {
				color: $link-color;
				font-weight: 400;
				font-size: 16px;
				font-family: $font-family-sans-serif;
				position: relative;
				top:0;
				outline: none;
				display: inline-block;
				padding-bottom: 1px;
				@extend .letter-spacing;

				@include transition(300ms);

				&:after {
					content: "";
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 2px;
					opacity: 0;
					background-color: #FFF;
					transition: opacity 0.3s, transform 0.3s;
					transform: translateY(10px);
				}

				&:hover::after,
				&:focus::after {
					opacity: 1;
					transform: translateY(0px);
				}

				&:hover {
					opacity: 1;
					color: #FFF;
				}
			}

			&.current-menu-item {
				a::after {
					opacity: 1;
					transform: translateY(0px);
				}
			}

			&:first-child,
			&:nth-child(2),
			&:nth-child(3) {
				float: left;
				margin-right: 2rem;

				@include media-breakpoint-up(lg) {
					margin-right: 3rem;
				}

				@include media-breakpoint-down(md) {
					margin-right: 2rem;
				}
			}


			&:nth-child(4),
			&:nth-child(5) {
				float: right;
				margin-left: 2rem;

				@include media-breakpoint-up(lg) {
					margin-left: 2rem;
				}

				@include media-breakpoint-down(md) {
					margin-left: 1rem;
				}
			}

			&:nth-child(3),
			&:nth-child(5) {
				margin: 0;
			}
		}
	}
}

#rolex-navigation {
	> ul {
		> li {
			padding-bottom: 7px;

			&:hover,
			&:focus {
				> a {
					&::after {
						opacity: 1;
						transform: translateY(0px);
					}
				}
			}
		}
	}
}

//Rolex
#main-header {
	&.scrolling {
		#rolex-navigation {
			@include media-breakpoint-down(lg) {
				padding: 0 140px 0 4rem;
			}

			@include media-breakpoint-down(md) {
				padding: 0 90px 0 4rem;
			}

			ul {
				li {
					&:nth-child(3),
					&:nth-child(5){
						@include media-breakpoint-down(md) {
							margin-left: 2rem;
						}
					}
				}
			}
		}
	}
}

//Rolex
#rolex-navigation ul li.active a:focus:after,
#rolex-navigation ul li.active a:hover:after {
    opacity: 1;
    transform: translateY(0);
}


/*  Rolex Color
------------------------------------------------------*/
#main-header {
	&.scrolling {
		#rolex-navigation {
			bottom:15px;

			ul {
				a {
					color:#000;

					&:after {
						background-color:#000;
					}
				}
			}
		}
	}
}


/*  Children li
------------------------------------------------------*/
#rolex-navigation {
	ul {
		> li {
			&.menu-item-has-children {
				position: relative;
			}
		}
	}
}

/*  Children - submenu 2nd level
------------------------------------------------------*/
#rolex-navigation {
	.sub-menu {
		display: none;
		position: absolute;
		top: 48px;
		left: -50%;
		margin-left: -60px;
		width: 240px;
		padding: 15px 15px 12px;
		border-radius: 4px;
		background-color: rgba(#FFF,.99);
		box-shadow: 0 1px 4px rgba(#666,.8);

		&:after{
			position: absolute;
			left: 110px;
			top: -10px;
			content: "";
			width: 0;
		  height: 0;
		  border-left: 10px solid transparent;
		  border-right: 10px solid transparent;
		  border-bottom: 10px solid rgba(#FFF,.99);
		}

		li {
			float: none !important;
			display: block;
			width:100%;
			text-align: center;
			margin: 0 !important;
		}
	}
}


/*  Children link
------------------------------------------------------*/
#rolex-navigation {
	.sub-menu {
		li {
			a {
				display: block;
				color: #333 !important;
				padding: 8px .5rem 8px;
				font-size: 16px;
				border-bottom: 1px solid #CCC;
				top: 0;
				font-weight: 500;
				transition: all 400ms ease;

				&:hover {
					color: #333 !important;
				}

				&:after{
					display: none !important;
					opacity: 0 !important;
				}

				&:hover::after,
				&:focus::after {
					display: none !important;
					opacity: 0 !important;
				}
			}
		}
	}
}

/*  Children submenu first and last childs
------------------------------------------------------*/
#rolex-navigation {
	.sub-menu {
		> li {
			&:last-child {
				a {
					border-bottom: none;
					padding-bottom: 0.5rem;
				}
			}

			&:first-child {
				a {
					padding-top: 0.5rem;
				}
			}
		}
	}
}



@media (max-width:991px) {
    .nav-primary ul li a {
        font-size: 13px;
        letter-spacing: 1px;
    }
}

@media (max-width:767px) {
    .nav-primary {
        display: none;
    }
}



body {
	&.home,
	&.about-us,
	&.contact-us {
		#rolex-navigation {
			padding-right: 340px;
		}
	}
}
