
/*  Share Post
------------------------------------------------------*/
.share-buttons {
  position:relative;
  overflow:hidden;
  cursor:pointer;

  .anchor-hover {
    color: #b3b3b3;
    @include transition(400ms);
    .plus {
      opacity: 1;
      @include transition(200ms);
    }
  }

  ul {
		position: absolute;
		width: 70px;
		height: auto;
		top: 1px;
    bottom:auto;
    right:auto;
    left:-80px;
		margin: 0;
		@include transition(400ms);

		li {
			float: left;
			margin: 0 4px;
      list-style: none;

			&:before {
				display: none;
			}
		}

		a {
			color: #000;
			text-decoration: none;
			position: relative;
			top:0;
			left: 0;
			right: auto;
			bottom: auto;
			@include transition(600ms);

			&:hover {
				top:-2px;
			}
		}
	}

  //Active
  &.active {
    .anchor-hover {
      color: #333;
    }
  }

  &.active,
  &:hover {
    ul {
      left: 80px;
    }

    .plus {
      opacity:0;
    }
  }
}


.share-buttons.share-page {

    ul {
      top:13px;
    }

    &.active,
    &:hover {
      ul {

        left: 220px;
      }
    }
}

@media (max-width:991px) {
	.share-buttons.share-page ul {
	top: 5px;
	}
	.share-buttons.share-page.active ul,
	.share-buttons.share-page:hover ul {
	left: 152px;
	}
}
