
/* Tudor Template
-----------------------------------------------------------------*/
.page-id-2153 {
  background-color: #FFF;

  .page-header {
    &.bg-cover {
      &.bg-fixed {
        display: none;
      }
    }
  }

  .tudor-page-header {
    height: 240px;
  }

  .page-header {
    height: 210px;
  }

  .page-content {
    max-width: 100%;
    margin: 0;

    img {
      max-width: 100%;
      height: auto;
    }

    .page-wrapper {
      margin-top: 0;
    }
  }
}

.tudor-btn-wrap {
  padding: 0rem 0 2rem;
  margin-bottom: 4rem;

  .btn {
    background-color: #be0100;
    color: #FFF;
    border-color: #be0100;
    font-family: $font-family-sans-serif;
    font-weight: 500;
    letter-spacing: 1px;

    &:hover,
    &:focus {
      color: #be0100;
      background-color: transparent;
    }
  }
}


/* Top
-----------------------------------------------------------------*/
.tudor-top-content {
  padding: 3rem 0;
  margin-bottom: 4rem;
  text-align: center;
  background-color: #f5f5f5;
}

.tudor-video-wrap {
  background-color: #212121;
  margin-bottom: 4rem;

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }

  .video-container,
  iframe {
    height: 380px;

    @include media-breakpoint-up(lg) {
      height: 520px;
    }
  }

  .entry-content-asset {
    overflow: visible;
  }

  .video-desc {
    padding: 4rem 2rem 3rem;
  }
}

.tudor-gallery {
  margin-bottom: 4rem;

  img {
    margin-bottom: 3rem;
  }
}


.tudor-content-repeater {
  margin-bottom: 6rem;

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .item {
      padding: 0;
    }

    .wrap-content {
      padding: 3rem 0 1rem;

      @include media-breakpoint-up(lg) {
        padding: 0 3rem;
      }
    }

    &.image-left {
      flex-direction: row-reverse;
      align-items: center;
    }

    &.image-right {
      .wrap-content {
        text-align: right;
      }
    }
  }
}


.tudor-image-bottom {
  min-height: 360px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .tudor-subtitle {
    max-width: 95%;

    p {
      line-height: 1.2;
    }

    @include media-breakpoint-up(lg) {
      max-width: 68%;
    }
  }

  p {
    font-family: $font-family-sans-serif;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
  }
}

/* Global
-----------------------------------------------------------------*/
.ml-auto {
  &.mr-auto {
    float: none;
  }
}

.tc {
  text-align: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.tudor-head {
  margin-bottom: 2rem;
}

.tudor-title {
  font-family: $font-family-sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    font-size: 22px;
  }
}

.tudor-subtitle {
  font-family: $font-family-sans-serif;
  font-weight: 900;
  font-size: 34px;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    font-size: 44px;
  }
}

.tudor-red {
  color: #be0100;
}

.tudor-white {
  color: #FFF;

  p,
  a {
    color: #FFF;
  }
}

.tudor-black {
  color: #000;
}

.tudor-desc {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 15px;

  p {
    font-family: $font-family-sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}

.mb2 {
  margin-bottom: 2rem;
}
