.contact-form-wrap {
  .title {
    text-align: center;
    margin-bottom: 4rem;
  }
}

.single-product-wrapper {
  padding: 26px 0 0;
}

.woocommerce div.single-product .container {
  padding-left: 0;
  padding-right: 0;
}

.woocommerce .woocommerce-breadcrumb {
  margin-bottom: 30px;
}



div.product {
  .summary {
    .term {
      color: #9F8764;
      font-size: 16px;
      font-weight: 700;
      display: block;
      text-transform: uppercase;
      margin-bottom: 2rem;
      font-family: $font-family-sans-serif;
    }

    .sku-right {
      font-size: 14px;
      float: right;
    }

    .woocommerce-Price-amount {
      display: block;
      font-weight: 700;
      color: #333;
      font-size: 20px;
      margin-bottom: 2rem;
      @extend .clearfix;
    }

    h1 {
      font-weight: 700;
    }

    .woocommerce-product-details__short-description {
      font-size: 23px;
    }

    .btn {
      width: 100%;
      margin-bottom: 4rem;
    }

    .item-info {
      font-size: 16px;
      font-family: $font-family-sans-serif;
      margin-bottom: 1rem;

      h3 {
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 700;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0 !important;
      }
    }
  }
}


/* Slideshow
--------------------------------------------------------*/
.woocommerce {
  .pswp__bg {
    opacity: .9 !important;
  }

  div.product {
    div.images {
      &.woocommerce-product-gallery {
        padding-left: 72px;
        position: relative;
        z-index: 4;
        @extend .clearfix;

        @include media-breakpoint-down(sm) {
          padding-left: 0;
          margin-bottom: 1.5rem;

          .flex-viewport {
            margin-bottom: 8px;
          }
        }

        .woocommerce-product-gallery__image {
          img {
          }
        }
      }

      .flex-control-thumbs {
        width: 70px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;

        @include media-breakpoint-down(sm) {
          width: 100%;
          position: relative;
          display: flex;
          left: auto;
          top: auto;
        }

        li {
          width: auto;
          display: block;
          float: none;
          margin: 0 0 8px;
          width: 60px;

          &:first-child {
            display: none !important;
          }

          @include media-breakpoint-down(sm) {
            margin: 2px;
          }

          img {
            opacity: 1 !important;
            transition: all 720ms ease;
            border: 1px solid $border;
            max-width: 100%;
            height: auto;
            display: block;

            &.flex-active {
              border-color: #333;
            }
          }
        }
      }
    }
  }
}

/* Upsells
--------------------------------------------------------*/
.up-sells,
.upsells,
.related {
  padding-top: 3rem;
  padding-bottom: 2rem;

  h2 {
    font-weight: 700;
    text-align: center;
    font-size: 28px;
    margin-bottom: 1rem;
  }
}

.up-sells {
  h2 {
    display: none !important;
  }

  &::before {
    content: "You may also like";
    display: block;
    font-family: $font-family-serif;
    text-align: center;
    font-weight: 700;
    text-align: center;
    font-size: 28px;
    margin-bottom: 1rem;
  }
}



@media (max-width:767px) {
  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary,
  .woocommerce #content div.product div.images,
  .woocommerce div.product div.images,
  .woocommerce-page #content div.product div.images,
  .woocommerce-page div.product div.images {
    float: none;
    width: 100%;
  }
}
