.brands-product-loop {
  padding: 2rem 0;

  h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 4rem;
  }
}


.woocommerce .woocommerce-ordering {
  display: none;
}

.woocommerce .woocommerce-result-count {
  font-size: 14px;
  font-family: $font-family-sans-serif;
}

//Loop
.woocommerce {
  ul.products {
    li.product {
      text-align: center;

      .term {
        color: #9F8764;
        font-size: 14px;
        font-weight: 700;
        display: block;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      .woocommerce-loop-category__title,
      .woocommerce-loop-product__title,
      h3{
        padding-top: 0;
        color: #000;
        font-size: 18px;
        font-weight: 400;
      }

      .desc {
        color: #000;
        font-size: 14px;
      }
    }
  }
}



/* Hover second image
--------------------------------------------------------*/
.product-thumb-hover-wrap {
  position: relative;
  margin-bottom: 1em;

  .attachment-shop_catalog {
    transition: all 640ms ease;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .attachment-woocommerce_thumbnail {
    position: relative;
    z-index: 2;
    opacity: 1;
    transition: all 640ms ease;
    margin-bottom: 0 !important;
  }

  &:not(.hover-empty):hover,
  &:not(.hover-empty):focus {
    img {
      &.attachment-woocommerce_thumbnail {
        opacity: 0;
      }
    }
  }
}


@media (max-width:767px) {
  .woocommerce-page.columns-3 ul.products li.product,
  .woocommerce.columns-3 ul.products li.product,
  .woocommerce-page.columns-4 ul.products li.product,
  .woocommerce.columns-4 ul.products li.product,
  .woocommerce ul.products[class*="columns-"] li.product,
  .woocommerce-page ul.products[class*="columns-"] li.product {
    margin: 0 0 2rem 0;
    width: 49%;
  }
}
