// Button styles

.btn {
  display:inline-block;
  background-color:transparent;
  color:#000;
  border:1px solid #000;
  font-family:$font-family-sans-serif;
  font-weight:300;
  text-align:center;
  padding:1rem 4rem;
  height:48px;
  border-radius:0;
  line-height:1.1;
  @include transition(600ms);

  &:hover {
    background-color:#000;
    color:#FFF;
  }
}
