// Comments
%form-cont
.comment-list {
  @extend .list-unstyled;

  ol {
    list-style: none;
 }
}

.comment-form {
  p {
    @extend .form-group;
  }

  input {
    [type='text'],
    [type='email'],
    [type='url'] {
      @extend .form-control;
    }

    [type='submit'] {
      @extend .btn;
      @extend .btn-secondary;
    }
  }

  textarea {
    @extend .form-control;
  }
}
