
/*  Search form
------------------------------------------------------*/
.search-form {
  @extend .form-inline;

  label {
    @extend .form-group;
    font-weight: normal;
  }

  .search-field {
    @extend .form-control;
  }

  .search-submit {
    @extend .btn;
    @extend .btn-secondary;
  }
}


/*  Form global
------------------------------------------------------*/
form {
  @extend .webkit-styles-reset;

  label {
    display:block;
    padding-left:1rem;
    margin-bottom:1rem;
    font-family:$font-family-sans-serif;
    color:#515054;
    @extend .letter-spacing;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"], {
    height:50px;
    padding:1rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    display:block;
    border:none;
    background-color:#FFF;
    position:relarive;
    @include transition(600ms);
    @extend .webkit-styles-reset;
    font-family:$font-family-sans-serif;
    color:#CCC;
    margin-bottom:2rem;
    width:100%;

    &:focus {
      color:#000;
      outline:none;
      border:0;
      background-color:#F6F6F6;
    }
  }

  select {
    @include transition(600ms);
    @extend .webkit-styles-reset;
    height:50px;
    display:block;
    width:100%;
    padding:0 1rem;

    option {
      padding:0.5rem;
    }
  }

  textarea {
    height:174px;
    margin-bottom:4.5rem;
    padding:1rem;
  }

  input[type="submit"] {
    @extend .btn;
    width:100%;
  }
}


/*  Customize select
------------------------------------------------------*/
form {
  .wpcf7-form-control-wrap {

    &.menu-151 {
      width:140px;
    }

    &.menu-692,
    &.menu-151 {
      position:relative;
      display:block;

      &:after {
        content:"";
        position:absolute;
        right:15px;
        top:15px;
        background-color:transparent;
        background-image:url('../images/arrow.svg');
        background-repeat:no-repeat;
        background-position:50% 50%;
        display:block;
        width:40px;
        height:20px;
        @include transition(800ms);
      }
    }
  }
}

/*  Submit and Validation
------------------------------------------------------*/
.wpcf7 {

  .wpcf7-not-valid-tip {
   display: none !important;
  }

  .wpcf7-not-valid {
   background-color: rgba(255,0,0,.7) !important;
   color: #FF0000;
  }

  div.wpcf7-response-output {
   border: none !important;
   background-color: transparent !important;
   text-align: center;
   text-transform: uppercase;
   margin-top: 0 !important;
   font-weight: 400;
   font-size: 12px;
   font-family:$font-family-sans-serif;

   &.wpcf7-validation-errors {
     color: #FF0000;
   }

   &.wpcf7-mail-sent-ok {
     color: #000;
   }
  }

  .ajax-loader {
   width: 16px;
   height: 16px;
   margin: 5px auto !important;
   display: block !important;
   position: relative;
   float:none;
  }
}



/*  FX conact form
------------------------------------------------------*/
.contact-form-wrap {
  @extend .left-right-grid;
  padding-top:4rem;
  padding-bottom:4rem;
  background-color:$light_grey_bg;
}

@media (max-width:991px) {
    form .wpcf7-form-control-wrap.menu-151 {
        width: 100%;
    }
}
