// Grid system
.page-content {
  @extend .container;
  position:relative;

  .page-wrapper {
    @extend .row;
    background-color:$white;
    margin-top:-45px;
  }
}


@media (max-width:991px) {
    .page-content .page-wrapper {
        margin-top: -22px;
    }
}

@media (max-width:543px) {
    main.main {
        margin-left: 8px;
        margin-right: 8px;
    }
}
