
/*  Global
------------------------------------------------------*/
html {
  background-color:#FFF;
}

body {
  background-color:$body-bg;
}

h1,h2,h3,h4,h5,p {
  font-family: $font-family-serif;
  font-weight:400;
}

p {
  font-family: $font-family-serif;
  color: $text-color;
  font-size: 27px;
  letter-spacing: 1px;
  line-height: 1.5;
}

a {
  color:$link-color;
  text-decoration:none;
  @include transition(400ms);

  &:hover,
  &:focus,
  &:active {
    outline:none;
    text-decoration:none;
  }
}

ul {
  padding:0;
  margin:0;

  li {
    list-style:none;
  }
}


/*  @extend classes
------------------------------------------------------*/
.letter-spacing {
  letter-spacing:2px;
}

.letter-spacing-1 {
  letter-spacing:1px;
}

.fullscreen {
  position:fixed;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display:block;
}

.overflowHidden {
  overflow:hidden;
}

.top-bottom-grid {
  padding-top:6rem;
  padding-bottom:6rem;
}

.left-right-grid {
  padding-left:4rem;
  padding-right:4rem;
}


/*  Password protected
------------------------------------------------------*/
.password-protected {
  padding-top: 180px;

  .container {
    background-color: #FFF;
    padding-top: 40px;
  }

  form {
    p {
      font-size: 18px;
      text-align: center;
    }

    input[type="submit"] {
      width: 100px;
      padding: 0;
    }

    input[type="password"] {
      border: 1px solid #CCC;
    }

    label {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0;
      padding-left: 0;
    }
  }
}


@media (max-width:991px) {
  p {
      font-size: 20px;
  }
  #main-footer .copyrights p,
  #main-footer .footer-nav a,
  #mobile-menu ul li a,
  .call-to-action .item,
  .letter-spacing,
  .nav-primary ul li a,
  .page-header .secondary p,
  .posts-wrapper .post .read-more,
  form label {
      letter-spacing: 1px;
  }
  .text-editor,
  .text-editor-wrap,
  .top-bottom-grid {
      padding-top: 3rem;
      padding-bottom: 3rem;
  }
  .contact-form-wrap,
  .left-right-grid,
  .text-editor-wrap {
      padding-left: 2rem;
      padding-right: 2rem;
  }
}

@media (max-width:543px) {
  p {
      font-size: 18px;
  }
  .text-editor,
  .text-editor-wrap,
  .top-bottom-grid {
      padding-top: 2rem;
      padding-bottom: 2rem;
  }
  .contact-form-wrap,
  .left-right-grid,
  .text-editor-wrap {
      padding-left: .8rem;
      padding-right: .8rem;
  }
}
