// Mixins
@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin rotate($deg) {
  transform: rotate($deg);
}

@mixin transition($duration) {
  transition:all $duration ease;
}

@mixin scale($scale) {
  transform: scale($scale);
}
