
/*  Spinner - Loader
--------------------------------------------------------*/
.css-loader {
  margin-left:auto;
  margin-right:auto;
  font-size: 10px;
  text-indent: -9999em;

  border-top: 0.5em solid rgba(251, 251, 251, 0.4);
  border-right: 0.5em solid rgba(251, 251, 251, 0.4);
  border-bottom: 0.5em solid rgba(251, 251, 251, 0.4);

  border-left: 0.5em solid $brand-primary;

  transform: translateZ(0);
  animation: cssSpinner 1.1s infinite linear;
}

.css-loader,
.css-loader:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

@keyframes cssSpinner {
  0% { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*  Usefull Shortcodes
------------------------------------------------------------*/
.scrolloff {
  pointer-events: none;
}

.off{
	display: none;
}
.wrap.sticky-template{
	margin-top: 0;
}

.mobile-only {
  display: none;

}
.desktop-only {
  display: block;
}

@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

/*  Backgrounds
------------------------------------------------------------*/
.bg-cover {
  -webkit-background-size: cover;
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
}

.bg-contain {
  -webkit-background-size: contain;
  background-size: contain;

  background-repeat: no-repeat;
  background-position: center center;
}

.bg-fixed {
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-position: center center;
}

/* Reset for mobile */
@media (max-width: 767px) {
  .bg-fixed {
    background-attachment: inherit!important;
  }
}


/*  Random
------------------------------------------------------------*/
/*CLEARFIX*/
.clear {
  zoom:1;

  &:before,
  &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }
}

/*Align center*/
.tc{
  text-align:center;

  img {
    display: inline;
  }
}

/*Centered list*/
.cul {
  width:100%;
  overflow:hidden;
  position:relative;

  ul {
    clear:left;
    float:left;
    position:relative;
    left:50%;
    text-align:center;
    list-style:none;
    margin:0;
    padding:0;

    li {
      display:block;
      float:left;
      position:relative;
      right:50%;
    }
  }
}

/* Center element */
.mauto{
  margin-left:auto;
  margin-right:auto;
}

/* Unselect */
.unselectable{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Vertical center */
.vcenter-outer {
    display: table;
    height: 100%;
    width: 100%;

    .vcenter-inner {
        display: table-cell;
        vertical-align: middle;
    }
}

/*Reset styles for forms*/
.webkit-styles-reset {
  appearance: none;
  border-radius: 0;
  box-shadow:none;
}

/* Flexible img */
.flexible-img {
  img {
    max-width: 100%;
    height: auto;
  }
}


.entry-content-asset {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;

  iframe,
  video  {
     position: absolute;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
   }
}
