//Variables

// Colors
$brand-primary:         #ddd;
$text-color:            #4f4f4f;
$body-bg:               #f6f7f7;
$border:                #f6f7f7;
$link-color:            #b3b3b3;
$white:                 #FFFFFF;
$light_grey_bg:         #e6e6e6;
$hover:                 #191919;
$post_padding:          1.3rem;
// Fonts

$font-family-sans-serif: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-serif: 'Playfair Display';
